<div id="staticPages">
  <div class="cover-img">
    <div class="title-box">
      <h1 class="title">EasyDoctor</h1>
      <h2 class="text-center">Book your Medical Appointment without Pain</h2>
      <%= link_to "Login", new_session_path, class: "btn btn-lg" %>
      <%= link_to "Sign Up", new_user_path, class: "btn btn-lg" %>
    </div>
  </div>
  <div class="info">
    <%= image_tag("info.png") %>
    <h3 class="text-center">About</h3>
    <p class ="text-center">Make your medical appointment as simple as it is with EasyDoctor online platform. Through a few clicks, EasyDoctor connects you to a big library of doctors in your neighbourhood. You can now book your doctor anytime, anywhere.</p>
  </div>
  <footer>EasyDoctor &copy; 2015</footer>
</div>

