<div id="staticPages">
  <div class="cover-img">
    <h1 class="title text-center">Easy Doctor</h1>
    <h2 class="text-center">Book your Medical Appointment without Pain</h2>
    <%= link_to "Login", login_path, class: "btn btn-lg" %>
    <%= link_to "Sign Up", signup_path, class: "btn btn-lg" %>
  </div>

  <div class="info">
    <%= image_tag("info.png") %>
    <h3 class="text-center">About</h3>
    <p class ="text-center">An online application to help people to book medical appointments</p>
  </div>
  <footer>&copy; 2015</footer>
</div>

