<div id="staticPages">
  <div class="cover-img">
    <div class="title-box">
      <h1 class="title">Easy Doctor</h1>
      <h2 class="text-center">Book your Medical Appointment without Pain</h2>
    <%= link_to "Login", new_session_path, class: "btn btn-lg" %>
    <%= link_to "Sign Up", new_user_path, class: "btn btn-lg" %>
  </div>
    </div>
  <div class="info">
    <%= image_tag("info.png") %>
    <h3 class="text-center">About</h3>
    <p class ="text-center">An online application to help people to book medical appointments</p>
  </div>
  <footer>&copy; 2015</footer>
</div>

