<div id="docsignup">
  <div class="container">
    <div class="row">
      <div class ='col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 well'>
        <h1 class="form-signin-heading">Doctor Sign Up</h1>
        <%= link_to "I'm Patient", new_user_path, class: "btn btn-lg" %>
        <%= link_to "I'm a Doctor", new_doctor_path, class: "btn btn-lg disabled" %>

        <%= render "signup_form" %>

      </div>
    </div>
  </div>
</div>
