<h1>Appointments#index</h1>

<table>
    <% @appointments.each do |appointment| %>
      <tr>
        <td><%=appointment.datetime%></td>
        <td><%=appointment.status%></td>
        <td>
          <%= form_for appointment, method: "delete", url: appointment_path(appointment) do |f| %>
            <%= f.submit "Delete" %>
          <% end %>
        </td>
      </tr>
    <% end %>

</table>