<nav class="navbar navbar-default">
  <div class="container-fluid">

    <ul class="nav navbar-nav navbar-left">
      <li>
        <a class="nav navbar" href="/">EasyDoctor</a>
      </li>
    </ul>

    <% if logged_in? %>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to 'Logout', logout_path, method: :delete, class: "nav navbar", id: "logout_btn" %>
        </li>
      </ul>
    <% end %>
  </div>
</nav>
