<nav class="navbar navbar-default">
 <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">EasyDoctor</a>
   </div>
   <div class="collapse navbar-collapse">
     <ul class="nav navbar-nav"></ul>
     <ul class="nav navbar-nav navbar-right">
       <% if logged_in? && is_doctor? %>
         <li><a href="<%= doctors_appointments_path %>">My Appointments</a></li>
       <% elsif logged_in? && !is_doctor? %>
         <li><a href="<%= users_path %>">Find Doctors</a></li>
         <li><a href="<%= users_appointments_path %>">My Appointments</a></li>
       <% end %>
       <% if logged_in? %>
        <li><%= link_to 'Logout', logout_path, method: :delete %></li>
       <% end %>

     </ul>
   </div>
 </div>
</nav>
